/* предварительные стили и глобальные настройки*/
/* Шрифт Raleway */
@font-face {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/raleway-v19-latin_cyrillic-ext_cyrillic/raleway-v19-latin_cyrillic-ext_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/raleway-v19-latin_cyrillic-ext_cyrillic/raleway-v19-latin_cyrillic-ext_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v19-latin_cyrillic-ext_cyrillic/raleway-v19-latin_cyrillic-ext_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v19-latin_cyrillic-ext_cyrillic/raleway-v19-latin_cyrillic-ext_cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v19-latin_cyrillic-ext_cyrillic/raleway-v19-latin_cyrillic-ext_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v19-latin_cyrillic-ext_cyrillic/raleway-v19-latin_cyrillic-ext_cyrillic-700.svg#Raleway') format('svg'); /* Legacy iOS */
}

/* Класс скрывающий элементы */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* Заготовки глобальных настроек */
:root {
  --main-text-color-gray: #757575;
  --main-text-color-black: #212121;
  --main-text-color-master-black: #000000;
  --main-text-color-blue: #2196F3;
  --main-text-color-white: #FFFFFF;
  --bg-color-gray: #2f303a;
  --bg-header-line: #ECECEC;
  --border-color: #EEEEEE;
  --bg-color-team: #F5F4FA;
  --grid-item: 1;
  --icon-color-gray: #AFB1B8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* font-family: 'Roboto', sans-serif; */

/* Цвет фона main */
.main-bg {
  background-color: var(--main-text-color-white);
}

.main-bg-portfolio {
  background-color: var(--main-text-color-white);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* a.current {
  color: var(--main-text-color-blue);
} */




















/* ВЫРАВНИВАНИЕ */

/* Сброс стилей */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul
 {
  margin: 0;
}


.section {
  padding-top: 94px;
  padding-bottom: 94px;
  
}

/* Общий размер для всей страницы */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0px 15px;
}

/* Header position */
.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-top: 24px; */
  /* padding-bottom: 25px; */
  /* border-bottom: 30;
  border-color: var(--main-text-color-gray); */
}

.header {
  border-bottom: 1px solid var(--bg-header-line);
  background: var(--main-text-color-white);
/* или */
/* border-width: 1px;
border-style: solid;
border-color: var(--main-text-color-gray); */
}

/* Центровка контактов */
/* ,
.header-contacts .list  */
.header-style{
display: flex;
align-items: center;

}


/* .nav-contacts */
.header-menue
 {
  display: inline-flex;
  padding-left: 0;
}

/* отступ для логотипа */
.logo {
  margin-right: auto;
}

/* отступ для студии,портфолио и контактов */
.header-menue {
  /* margin-right: 331px; */
  margin-left: 80px;
}

/* отступы внутри header-menue */
.header-menue__li,
.header-contacts__li {
  margin-right: 50px;
}

/* расположение текста относительно картинок */
.header-contacts__icon-link,
.header-contacts__link
 {
  vertical-align: middle;
  /* padding: 30px 0; */
}

/* пвсстояние между картинкой и текстом */
.header-contacts__icon-link {
  fill: var(--main-text-color-gray);
  margin-right: 10px;
  /* padding: 10px; */
    /* Функция смены цвета */
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    /* transition-delay: 0; */
}


/* .container .header-contacts {
  fill: var(--main-text-color-gray);
  margin-left: auto;
} */

/* Настройка положения и размера кнопки */
/* .container .button { */
  /* padding-right: 32px; */
  /* padding-top: 10px; */
  /* padding-bottom: 10px; */
  /* padding-left: 32px; */
  /* border-color: var(--main-text-color-blue); */
  /* margin: 0 auto; */
/* } */

/* .main-bg .hero .container{
  padding-top: 200px;
  padding-bottom: 200px;
} */

/* Положение Наших особенностей */
.feature { 
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 0;
  /* padding-top: 32px;
  padding-bottom: 32px; */
  /* border-bottom: 30;
  border-color: var(--main-text-color-gray); */
}

/* Размер класа feature__list-item и расстояния между ними */
.feature__list-item {
  width: 270px;
  /* height: 101px; */
  
}

.feature__list-margin{
  margin-right: 30px;
  /* padding-left: 0; */
}



/* промежуток между заголовком и подписью */
.feature__h3{
  margin-bottom: 10px;
  margin-top: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color-black);
}

.section-soft_h2 {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;

  /* настройка текста */
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: var(--main-text-color-master-black);
}

.section-soft{
  padding-top: 0;
}

/* Положение Наших особенностей */
.soft { 
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* padding-top: 32px;
  padding-bottom: 32px; */
  /* border-bottom: 30;
  border-color: var(--main-text-color-gray); */
}

/* Расстояние между блоками */
.soft__li{
  margin-right: 30px;
}

/*.soft .soft__relative .list-what-img{
  position: relative;
  width: 370px;
  height: 294px;
  left: 0px;
  top: 0px;
} */
.soft__relative{
  position: relative;
  /* width: 370px;
  height: 294px; */
  left: 0px;
  top: 0px;
}

.soft__p{
position: absolute;
bottom: 0;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
padding-top: 27px;
padding-bottom: 27px;
color: var(--main-text-color-white);
background: rgba(47, 48, 58, 0.8);
width: 370px;
} 

/* превращаем картинку в блок */
.soft li img{
  display: block;
}

/* Наша команда тени */
/* .team-list .our-shadow { */
  /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2); */
  /* border-radius: 0px 0px 4px 4px; */
/* } */

/* Положение Наших особенностей */
.team-list { 
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* padding-top: 32px;
  padding-bottom: 32px; */
  /* border-bottom: 30;
  border-color: var(--main-text-color-gray); */
}

.team-list__margin {
  margin-right: 30px;
}

.team-list__h3,
.team-list__p {
  text-align: center;
}

.team-list__h3 {
  margin-bottom: 10px;
  margin-top: 0;
}

.team-list__p {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0px;
}

.team-list__index div {
  padding: 30px;
}

.team-list__index img {
  display: block;
  margin-bottom: 0px;
}


/* FOOTER */
.bg-color-footer .container { 
  display: flex;
  align-items: baseline;
  /* padding: 60px 0px; */
  /* padding-top: 32px;
  padding-bottom: 32px; */
  /* border-bottom: 30;
  border-color: var(--main-text-color-gray); */
}

.logo-margin {
  display:block;
  margin-bottom: 20px;
}

/* Страница Портфолио */
/* main .main-bg-portfolio  .section .container */
 .port-menu{
  display: flex;
  justify-content:center;
  align-items: center;
  margin-bottom: 50px;
  margin-left: 0;
  padding-left: 0;
  /* padding-top: 32px;
  padding-bottom: 32px; */
  /* border-bottom: 30;
  border-color: var(--main-text-color-gray); */
}

/* размер кнопок port-menu */
.port-menu .link {
  padding: 6px 22px;
  
}

/* Отступ между кнопками port-menu */
.port-menu__button-margin {
  margin-right: 8px;
}

/* display: block for img port-menu */
.portfolio__img {
  display: block;
  max-width: 100%;
}

/* .main-bg-portfolio  .section*/
 .portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-right: -30px;
  --grid-item: 3;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.portfolio__list-text {
  padding: 20px 24px;
  border: 1px solid var(--border-color);
  border-top: none;
}

.portfolio__list-item {
  margin: 0 30px 30px 0px;
  /* width: 370px; */

  /* padding: 370px 404px; */

  /* задаём ширину элементов */
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
}


/* Увеличение области кликабельности ссылки */
/* .header-style .logo-link, */
/* .header-menue .link, */
/* .header-contacts li .link { */
  /* padding: 30px 0; */
/* } */




/* Отступ для Нашей команды */
.team__margin{
  margin-top: 0;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

/* стиль текста */
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: var(--main-text-color-master-black);
}

.team-list__p {
  margin-bottom: 16px;
}

/* Настройка заднего фона для иконок соцсетей в Нашей команде */
/* .team-social-icons__link */
.team-social-icons__link {
  background-color: var(--main-text-color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}


/* Параметры иконок соцсетей */
.team-social-icons__icon{
  width: 20px;
  height: 20px;
  fill: var(--icon-color-gray);
  /* fill: #000000; */
  /* background-color: #000000; */
}

/* отступ от левого края для всех иконок */
.team-social-icons {
  display: inline-flex;
  /* margin: 0 auto; */
  padding: 0 0 0 2px;

}

/* Выделение цветом иконок соцсетей нашей команды. Ховер и фокус задается всегда на ссылку! */
/* .footer-soc__item .footer-soc__link:hover .icon,
.footer-soc__item .footer-soc__link:focus .icon, */

/* .footer-soc__item .footer-soc__link:hover,
.footer-soc__item .footer-soc__link:focus */
.team-social-icons__link:hover,
.team-social-icons__link:focus {
  fill: var(--main-text-color-white);
  background-color: var(--main-text-color-blue);
  

  /* border-radius: 10px; */
  /* margin: 10px; */
  /* fill: inherit; */
}

/* Настройка заднего фона для иконок соцсетей в футере */
.footer-soc__link {
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
    /* Функция смены цвета */
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    /* transition-delay: 0; */
}
.header-contacts__icon-link {
    /* Функция смены цвета */
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    /* transition-delay: 0; */
}

/* Расстояние между иконками footer */
.footer-soc__item-margin {
  margin-right: 10px;
  margin-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/* Расстояние между иконками team */
.team-social-icons__margin {
  margin-right: 10px;
  margin-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/* Параметры иконок соцсетей Нашей команды */
.team-social-icons__icon{
  width: 20px;
  height: 20px;
  fill: var(--icon-color-gray);
  /* fill: #000000; */
  /* background-color: #000000; */

      /* Функция смены цвета */
      transition-property: fill; /*background-color, */
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Параметры иконок соцсетей Футера*/
.footer-soc__icon{
  width: 20px;
  height: 20px;
  fill: var(--main-text-color-white);
  /* fill: #000000; */
  /* background-color: #000000; */

  /* Функция смены цвета */
  /* transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transition-delay: 0; */
}

/* Footer */
/* .container .social-icons .footer-soc__item .footer-soc__link */
.team-social-icons__link {

  /* Функция смены цвета */
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /* transition-delay: 0; */
}

/* отступ от левого края для всех иконок в Footer и все в ряд */
.footer-soc__list {
  display: inline-flex;
  /* margin: 0 auto; */
  padding: 0;
}

/* Выделение цветом иконок соцсетей футера. Ховер и фокус задается всегда на ссылку! */
/* .footer-soc__list .footer-soc__item .footer-soc__link:hover .icon,
.footer-soc__link:focus .icon, */
.footer-soc__link:hover,
.footer-soc__link:focus {
  /* fill: var(--main-text-color-white); */
  background-color: var(--main-text-color-blue);

  /* border-radius: 10px; */
  /* margin: 10px; */
  /* fill: inherit; */
}

/* Выделение цветом иконок соцсетей футера. Ховер и фокус задается всегда на ссылку! */
.team-social-icons__link:hover .team-social-icons__icon,
.team-social-icons__link:focus .team-social-icons__icon {
  fill: var(--main-text-color-white);
  

  /* border-radius: 10px; */
  /* margin: 10px; */
  /* fill: inherit; */
}






/* отступы между списками в футере */
.footer__list {
  margin-bottom: 9px;
  /* margin-top: 9px; */
  /* padding-bottom: 6px;
  padding-top: 9px; */

}

.footer-list__address-item {
  margin-bottom: 9px;
}

.footer-list .li-footer-second {
  margin-bottom: 9px;
  /* margin-top: 9px; */
  /* padding-bottom: 6px;
  padding-top: 9px; */

}

/* .portfolio__h3-style { */
  /* margin: 0; */
/* } */

/* .portfolio__p-style { */
  /* margin-top: 4px; */
  /* margin-bottom: 0; */
/* } */

/* картинка на всю ширину блока */
/* .portfolio__list-item .link img{ */
  /* width: 100%; */
/* } */

.footer-bg .container {
  padding: 60px 0;
}

/* Настройка блока адрес в футере, размера и расположения */
.footer-address {
/* display: flex;
flex-direction: column;
align-items:flex-start; */
/* padding-left: 30px; */
/* padding-top: 60px;
padding-bottom: 60px; */
margin-right: 70px;
/* padding-left: 0; */
}

/* Настройки блока соцсетей в футере, размера и расположения */
.footer-soc {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  /* padding-top: 75px;
padding-bottom: 97px; */
margin-right: 93px;
}


.portfolio__overlay-port{
  position: relative;
  overflow: hidden;
}

/* .portfolio__link:hover .portfolio__overlay-port .list-portfolio-p, */
/* .portfolio__link:focus .portfolio__overlay-port .list-portfolio-p  */
.portfolio__link:hover .portfolio__list-p, 
.portfolio__link:focus .portfolio__list-p 
{
  transform: translateY(0);
  overflow: hidden;
  /* width: 370px; */
  /* height: 294px; */
  /* opacity: 1; */
}


/* .list-portfolio-p{ */
  /* opacity: 50%; */
/* } */

/* .bg-port-flip {
  
} */

.portfolio__list-p {
  /* display: inline-block;
  content: ''; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translatey(100%);
  transition: transform 250ms var(--timing-function);
/* width: 370px; */
/* height: 294px; */
/* left: 215px; */
/* top: 262px; */
/* opacity: 0; */
background: rgba(33, 150, 243, 0.9);
/* background-size: auto; */
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 1.55;
/* or 156% */
letter-spacing: 0.03em;
color: var(--main-text-color-white);
padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
}

.portfolio__list-item:hover,
.portfolio__list-item:focus {
  display: block;

  /* box-sizing: border-box; */
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__link
{
    /* Функция смены цвета */
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}

/* .footer-come {
  text-align: left;
} */



/* НАШИ ПРЕИМУЩЕСТВА */
/* настройка фонового изображения для вставки перед списком */
.feature__list-item::before {
  /* block растягивает на полный размер родителя */
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--bg-color-team);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
  /* border-radius: 4px; */
}

/* Антенна в виде фонового изображения */
.icon-antenna::before {
  background-image: url("../images/icons/antenna-1.svg");
}

/* Часы в виде фонового изображения */
.icon-clock::before {
  background-image: url("../images/icons/clock-1.svg");
}

/* Компьютер-диаграмма в виде фонового изображения */
.icon-comp::before {
  background-image: url("../images/icons/diagram-1.svg");
}

/* Астронавт в виде фонового изображения */
.icon-astronaut::before {
  background-image: url("../images/icons/astronaut-1.svg");
}




/* ПОСТОЯННЫЕ КЛИЕНТЫ */
/* section-client */
.company {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* Параметры иконок соцсетей Футера*/
.company-icons__icon{
  fill: var(--icon-color-gray);
      /* Функция смены цвета */
      transition-property: fill; /*border-color, */
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      /* transition-delay: 0; */
}

/* Настройка иконок вряд (icons-client)*/
.company-icons {
  display: flex;
  margin: 0;
  padding: 0;
}

/* Промежуткм между блоками */
.company-icons__margin {
  display: flex;
  margin-right: 30px;
}


/* Выделение цветом иконок соцсетей футера. Ховер и фокус задается всегда на ссылку! */
.company-icons__link:hover .company-icons__icon,
.company-icons__link:focus .company-icons__icon,
.company-icons__link:hover,
.company-icons__link:focus {
  fill: var(--main-text-color-blue);
  border-color: var(--main-text-color-blue);
  /* border-radius: 10px; */
  /* margin: 10px; */
  /* fill: inherit; */


}

/* Настройка блоков и ссылки параллельно */
.company-icons__link {
  /* background-color: var(--main-text-color-white); */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px;
  border-radius: 4%;
  border-style: solid;
  border-color: var(--icon-color-gray);
    /* Функция смены цвета */
    transition-property: border-color; /*, fill*/
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    /* transition-delay: 0; */
}

/* .footer-soc .footer-h3-come { */
  /* margin-bottom: 20px; */
/* } */





























/* Применение классов */



/* Настройка тела сайта */
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em; /* расстояние между буквами*/
  color: var(--main-text-color-black);
  /*background-color: #e5e5e5;*/
}

.logo-link
{
  text-decoration: none; /* убирает подчеркивание с ссылки */
  color: inherit; /* обесцвечивает ссылку */
}

/* обесцвечивание и скрытия подч]ркивания для ссылки */
.link {
  text-decoration: none; /* убирает подчеркивание с ссылки */
  color: inherit; /*обесцвечивает ссылку*/

  /* Функция смены цвета */
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /* transition-delay: 0; */
}

/* изменение ссылки при наведении */
.link:hover,
:focus {
  color: var(--main-text-color-blue);


}


/* Выделение цветом иконок письма и телефона. Ховер и фокус задается всегда на ссылку! */
.header-contacts__link:hover .header-contacts__icon-link,
.header-contacts__link:focus .header-contacts__icon-link {
  fill: var(--main-text-color-blue);



  /* border-radius: 10px; */
  /* margin: 10px; */
  /* fill: inherit; */
}


/* Отцентровать */
/* .center {
  text-align: center;
} */

/* Убрать нумерацию списка */
ul {
  list-style: none;
  /* padding-left: 0px;
  margin: 0px; */
}

/* Убрать нумерацию списка */
/* .list .our-icon-link{ */
  /* list-style: none; */
  /* padding-left: 0px;
  margin: 0px; */
/* } */

.footer-list {
  padding-left: 0px;
  margin: 0px;
}


    /* Стили телефона и имэйла в хедере */
.header-contacts {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--main-text-color-gray);

/* up-phone-email-style */
fill: var(--main-text-color-gray);
margin-left: auto;

/* nav-contacts */
display: inline-flex;
padding: 30px 0;
}

/* оформление верхнего меню */
.header-style {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--main-text-color-black);
}

/* Цвет футера */
.footer-bg {
  color: var(--main-text-color-white);
  background: var(--bg-color-gray);
}

/* оформление адреса нижнего меню */
.footer__connection {
/*font-weight: 400;*/
font-style: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;

  }

/* оформление нижнего меню телефона и имэйла*/
.footer-list__contacts {
color: rgba(255, 255, 255, 0.6);
    }

/* Стиль заголовка н1 */
.hero-h1 {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
/* text-align: center; */
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--main-text-color-white);


/* Настройка расположения и размеров заголовка */
  /* position: absolute; */
width: 696px;
/* height: 120px; */
margin: 0 auto;
text-align: center;
margin-bottom: 30px;
}

/* Стиль заголовка н2 */
/* .h2-style { */
  /* font-family: Roboto; */
  /* font-style: normal; */
  /* font-weight: 700; */
  /* font-size: 36px; */
  /* line-height: 1.16; */
  /* text-align: center; */
  /* letter-spacing: 0.03em; */
  /* color: var(--main-text-color-master-black); */
/* } */

/* Стиль заголовка н2 для "Наша команда" */
.team-list__h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: var(--main-text-color-master-black);
}

/* Стиль заготовка н3 */
/* .h3-style { */
  /* font-weight: 700; */
  /* font-size: 14px; */
  /* line-height: 1.14; */
  /* letter-spacing: 0.03em; */
  /* text-transform: uppercase; */
  /* color: var(--main-text-color-black); */
/* } */

.feature__p {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--main-text-color-gray);
  margin: 0;
}


/* Стиль для простого текста главной страницы */
.team-list__p {
  /*font-weight: 400;*/
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;  
  color: var(--main-text-color-gray);
}

/* Стиль для подписи нашей команды */
.p-style-team {
  /*font-weight: 400;*/
  font-size: 16px;
  line-height: 1.19;
  /* text-align: center; */
  letter-spacing: 0.03em;  
  color: var(--main-text-color-gray);
}

/* Стиль для cтилизации заголовка фото в портфолио */
.portfolio__h3-style {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
/* letter-spacing: 0.04em; */
color: var(--main-text-color-black);

margin: 0;
}

/* Стиль для cтилизации описания фото в портфолио */
.portfolio__p-style {
/*font-weight: 400;*/
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--main-text-color-gray);

margin-top: 4px;
margin-bottom: 0;
}

/* Стиль кнопки на главной странице */
.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-text-color-white);

  /* Функция смены цвета */
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /* transition-delay: 0; */

  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  /* border-color: var(--main-text-color-blue); */
  margin: 0 auto;
}

/* Client стилизация текста*/
/* h2-style-client */
.clients {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-text-color-black);
margin-bottom: 50px;
margin-top: 0;
}


/* футер, ПРИСОЕДИНЯЙТЕСЬ */
.footer-soc__h3 {
  font-weight: 900;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  color: var(--main-text-color-white);

  /* отступ вниз */
  margin-bottom: 20px;
  }















/* НАСТРОЙКА ЦВЕТОВ */
/* ЦВЕТА ФОНА И КНОПОК */
/* настройка цвета логотипа, а именно части Web */
.logocolor {
  color: var(--main-text-color-blue);
}

/* Стиль логотипа (цвет, шрифт и т.д.) */
.logo-style {  
  font-family: "Raleway", sans-serif;
  /* font-style: normal; */
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  /* color: var(--main-text-color-master-black); */
  }

.hero__button-index {
  background-color: var(--main-text-color-blue);
  border: none;
  border-radius: 4px;
}

/* изменение цвета кнопки при наведении */
.hero__button:hover,
.hero__button:focus {
  background-color: var(--main-text-color-blue); /*изменение цвета кнопни*/
  color: var(--main-text-color-white); /*изменение цвета надписи*/
  cursor: pointer;
}

/* Стиль кнопок на странице портфолио */
.port-menu__buttom {
font-weight: 500;
color: var(--main-text-color-black);
background-color: var(--main-text-color-white);
font-size: 16px;
line-height: 1.63;
letter-spacing: 0.03em;
border: none;
border-radius: 4px;
cursor: pointer;

  /* Функция смены цвета */
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* transition-property: background-color, color, box-shadow; */
  /* transition-duration: 250ms; */
  /* transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
  /* transition-delay: 0; */
}

/* .port-menu__buttom.link { */
  /* Функция смены цвета */
  /* transition-property: background-color, color, box-shadow; */
  /* transition-duration: 250ms; */
  /* transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
  /* transition-delay: 0; */
/* } */


.port-menu__buttom.link:hover,
.port-menu__buttom.link:focus {
  background-color: var(--main-text-color-blue); /*изменение цвета кнопни*/
  color: var(--main-text-color-white);  /*изменение цвета надписи*/
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;


  /* cursor: pointer; */
}


.port-menu__buttom.primary {
  background-color: var(--main-text-color-blue);
  color: var(--main-text-color-white);
  border-color: var(--main-text-color-blue);
}

.port-menu__buttom.secondary {
  background-color: var(--bg-color-team);
  color: var(--main-text-color-black);
  border-color: var(--main-text-color-white);
}

/* .bg-color-header { */
  /* position: absolute; */
  /* width: 1600px; */
  /* height: 80px; */
  /* left: 0px; */
  /* top: 0px; */
  /* background: var(--main-text-color-white);
} */

.hero {

background-color: var(--bg-color-gray);
text-align: center;
padding-top: 200px;
padding-bottom: 200px;
max-width: 1600px;   /*максимальная длинна банера*/
height: 600px;
margin-left: auto;
margin-right: auto;
background-image: url(../images/index/bg-Img-overlay.png), url(../images/index/bg-header-Img.png);
/* background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/index/bg-header-Img.png); */
background-position: center;
background-repeat: no-repeat;
object-fit: cover;  /*задаем отображение картинки-фона (стоять на месте и т.д.);/
/* центр всегда на месте */
background-position: center;
/* можно задать ысоту банера, убирая паддинги, но тогда могут возникнуть баги с переполнением */

  /* display: flex;*/  /*работает вместе с align-items*/
  /*align-items: center;*/  /*вертикальное выравнивание*/
  /* justify-content: center;  горизонтальное выравнивание */ 
  /* Банер всегда подстраивается под экран */
  /* height: 100vh;  */
/* position: absolute; */
/* width: 1600px; */
/* height: 600px; */
/* left: 0px; */
/* top: 80px; */
/* padding: 250px 0; */
/* object-position: 50% 50%; */
/* padding: 200px 0;  */
}

.team {
  /* position: absolute; */
  /* width: 1600px; */
  /* height: 648px; */
  /* left: 0px;
  top: 1449px; */
  background: var(--bg-color-team);
}

/* .bg-color-footer { */
  /* position: absolute; */
  /* width: 1600px; */
  /* height: 252px; */
  /* left: 0px;
  top: 1628px; */
  /* background: var(--bg-color-gray); */
/* } */

.bg-color-portfolio-block {
  /* position: absolute;
width: 370px;
/* height: 404px; */
/* left: 1015px;
top: 262px; */
background: var(--main-text-color-white);
border: 1px solid var(--border-color);
box-sizing: border-box;
}

.team-list__index {
  /* position: absolute; */
  width: 270px;
  /* height: 368px; */
  /* left: 215px;
  top: 1635px; */
  background: var(--main-text-color-white);
  /* material shadow v1 */  
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}










/* ЦВЕТА ТЕКСТА */
/* цвет текста для отображения активной сылкиы */
.current {
  color: var(--main-text-color-blue);
  position: relative; 
  padding-bottom: 30px;
}
.header-link {
  position: relative;
  
}

/* Нижняя линия на активном элементе меню */
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--main-text-color-blue);

  border-radius: 2px;
}

/* цвет текста для отображения активной сылкиы */
.current-button {
  color: var(--main-text-color-white);
  background-color: var(--main-text-color-blue);
}





















/* FOOTER */
.secondary {
  display: flex;
  align-items: baseline;
}

.footer-subscribe__title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color-white);
}

/* .subscribe {
  display: inline-flex;
} */

.footer-subscribe__form {
  display: inline-flex;
  width: 570px;

  margin-left: auto;
  margin-right: auto;
}

.footer-subscribe__input {
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: 0;
  display: flex;
  flex-direction: column;
}

.form-label input {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--bg-color-gray);

  padding: 15px 0 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;

  border-radius: 4px;
}

.footer-subscribe__button {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;

  margin-left: 12px;
  min-width: 200px;
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;
  background: var(--main-text-color-blue);
}

/* .button-view {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
} */

.footer-subscribe__button-title {
  margin-right: 12px;
  margin-left: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--main-text-color-white);
}

.footer-subscribe__icon-send {
  margin-right: auto;
  width: 24px;
  height: 24px;
  fill: var(--main-text-color-white);
}





















/* Модальное окно */

/* Параметры фона модального окна */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  visibility: visible;
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

/* Параметры модального окна до нажатия кнопки (скрытие окна) */
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

/* параметры формы окна */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  /* height: 581px; */
  background-color: var(--main-text-color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

/* Размер и позиция кнопки Х */
.modal-button__close {
  background-color: var(--main-text-color-white);
  display: flex;
  margin-left: auto;
  margin-bottom: auto;
  margin-top: 8px;
  margin-right: 8px;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

/* Параметры самого Х */
.modal-button__icon{
  position: absolute;
  width: 18px;
  height: 18px;
}

.modal-button__close:hover,
.modal-button__close:focus,
.modal-button__close:hover .modal-button__icon,
.modal-button__close:focus .modal-button__icon{
  cursor: pointer;
}



/* Модальная форма */

.modal-form {
  width: 528px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  padding-top: 2px;
}

.modal-form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-text-color-black);
}

.modal-form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.modal-form__label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--main-text-color-gray);
}

.modal-form__field:hover .modal-form__input,
.modal-form__field:hover textarea,
.modal-form__field:focus-within .modal-form__input,
.modal-form__field:focus-within textarea {
  border: 1px solid var(--main-text-color-blue);
  border-radius: 4px;
  /* border-color: var(--main-text-color-blue); */
  /* outline: none; */
}

.modal-form__field textarea {
  outline: none;
}

.modal-form__field input {
  cursor: pointer;
  margin: 0;
  padding: 11px 0 11px 42px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;

  transition: border-color 250ms var(--timing-function);
}

.modal-form__field-style {
  position: relative;
}

.modal-form__field:hover .modal-form__svg,
.modal-form__field:focus-within .modal-form__svg{
  fill: var(--main-text-color-blue);
  
}

.modal-form__svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: inline-block;
  width: 18px;
  height: 18px;
  transition: fill 250ms var(--timing-function);
}

.modal-form__form {
  padding: 12px 16px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  cursor: pointer;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.modal-form__option {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding-left: 12px;
}

.modal-form__label {
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;

  color: var(--main-text-color-gray);
}

.modal-form__option input {
  width: 16px;
  height: 15px;
  background: var(--main-text-color-black);
}

.modal-form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.label {
  display: flex;
  align-items: center;
}

.modal-form__checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;

  border: 2px solid var(--main-text-color-black);
  border-radius: 2px;
}

/*  */
.modal-form__checkbox:checked + .modal-form__checkbox-icon {
  border-color: var(--main-text-color-blue);
  background-color: var(--main-text-color-blue);
  background-image: url(../images/icons/v.svg);
  background-size: contain;
  background-origin: border-box;
}

.modal-form__link {
  text-decoration: underline;
  color: var(--main-text-color-blue);
}

.form .modal-form__send-button:hover,
.form .modal-form__send-button:focus {
  background-color: #188ce8;
}

.modal-form__send-button {
  display: flex;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--main-text-color-blue);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  cursor: pointer;

  transition: background-color 250ms var(--timing-function);
}

.title-send {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-text-color-white);
}






















/* НЕ ИСПОЛЬЗУЕМОЕ */
/* raleway-regular - latin_cyrillic-ext_cyrillic */
/*@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-regular.eot'); /* IE9 Compat Modes */
 /* src: local(''),
       url('../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  /*     url('../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
 /*      url('../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
 /*      url('../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
 /*      url('../fonts/raleway-v19-latin_cyrillic-ext_cyrillic-regular.svg#Raleway') format('svg'); /* Legacy iOS */
/*}*/
/* raleway-700 - latin_cyrillic-ext_cyrillic */

/* Выстраивание списка в ряд */
/* .line {
        display: inline;
        margin-right: 5px; */
        /* list-style: none;убираем маркеры списка */
        /*display: inline-block; /* Отображать как строчный элемент */
        /* margin: 0; убираем верхнее и нижнее поле, равное 1em */
        /* padding-left: 0; убираем левый отступ, равный 40px */
        /* margin-right: 5px; Отступ слева */
        /* border: 1px solid #000; Рамка вокруг текста
        padding: 3px; Поля вокруг текста */
    /* } */

